:root {
  --primary: #0841DE;
  --btnAnimationDelay: 0.6s;
} 

*,*::before,*::after {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

html,body {
  height: 100%;
  width: 100%;
  font-size: 16px;
}

#main {
  position: relative;
  overflow: hidden;
}

.mg-svgsprite {
  display: inline-block;
  width: 1em;
  height: 1em;
  vertical-align: middle;
  fill: currentColor;
}

