.btn {
    padding: 8px 16px;
    border-radius: 50px;
    border: 1px solid rgba(255,255,255,0.4);
    /* 
    #0842E0
} */
    background-color:transparent;
    color: #ffffff;
   font-size: 11px;
   font-family: var(--jost);
   display: flex;
   align-items: center;
}